section {
    text-align: center;
    font-family: Helvetica Neue, Helvetica, Verdana, sans-serif;
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
}
section img {
    width: 100%;
    max-width: 300px;
    max-height: 340px;
    margin-top: 100px;
    margin-bottom: 50px;
}
section p {
    padding: 0 15%;
    margin-bottom: 30px;
}
section form {
    background-color: rgba(150,150,150,0.2);
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
    margin: 0 auto;
}
form input {
    width: 55%;
    margin-bottom: 5px;
}
input[type='text'] {
    color: rgba(0,0,0,0.5);
    padding-left: 1%;
}

button {
  border-radius: 10px;
  font-family: Georgia;
  color: #ffffff;
  background: #949494;
  padding: 3px 20px 3px 20px;
  text-decoration: none;
  border: 0;
  box-shadow: none;
}

button:hover {
  background: #737373;
  text-decoration: none;
  cursor: pointer;
}
