@font-face {
              font-family: "goudy";
              src: url("../fonts/GOUDOS.ttf");
}


* {
margin: 0;
padding: 0;
}

/*Mobile phones*/
@media only screen and (max-width: 768px)  {
header {
    position: relative;
    margin-top: 15%;
    text-align: center;
    font-size: 2.3em;
    font-family: Georgia;
}
.WN-header {
    font-size: 1.4em;
    font-family: "goudy";
}
section {
    position: relative;
    text-align: center;
    font-family: Helvetica Neue, Helvetica, Verdana, sans-serif;
}
section img {
    padding-bottom: 30px;   
}
section p {
    padding: 0px 15%;
    margin-bottom: 5%;
}
section form {
    background-color: rgba(150,150,150,0.2);
    padding: 10px;
    text-align: left;
    margin: 0px 20px;
}
form input {
    width: 55%;
    position: relative;
    left: 15%;
}
input[type='text'] {
    color: rgba(0,0,0,0.5);
    padding-left: 1%;
} 
form button {
    position: relative;
    left: 17%;
    width: 12%;
}
    
}



/*Desktop*/
@media only screen and (min-width: 768px) {
 header {
    position: relative;
    margin-top: 5%;
    text-align: center;
    font-size: 2.3em;
    font-family: Georgia;
}
.WN-header {
    font-size: 1.4em;
    font-family: "goudy";
}
section {
    position: relative;
    text-align: center;
    font-family: Helvetica Neue, Helvetica, Verdana, sans-serif;
}
section img {
    padding-bottom: 30px;   
}
section p {
    padding: 0px 25%;
    margin-top: 2%;
    margin-bottom: 10%;
    font-size: 1.1em;
}
section form {
    background-color: rgba(150,150,150,0.2);
    padding: 10px;
    text-align: center;
    margin: 50px;
}
form input {
    width: 500px;
    position: relative;
}
input[type='text'] {
    color: rgba(0,0,0,0.5);
    padding-left: 1%;
} 
form button {
    position: relative;
    margin-left: 10px;
    width: 100px;
}
    
    
    
}