* {
margin: 0;
padding: 0;
background-color: #7f8c8d;
overflow-x: hidden;
}

@keyframes text-fade {
    from { opacity: 0; }
    to { opacity: 1.0; }
}

/*Mobile phones*/
@media only screen and (max-width: 768px)  {
header {
    margin: 0px; padding: 0px;
    position: absolute;
    width: 100%;
    left: 0px;
    top: 10%;
} 
nav {
    position: relative;
    color: white;
    font-size: 3em;
    margin-left: 10%;
    float: left;
    cursor: pointer;
}
form input {
    position: relative;
    margin-left: 25%;
    margin-top: 2%;
    font-size: 2em;
    border-width: 0px;
    border-style: none;
    width: 50%;
}
input[type=text] {
    padding-left: 1%;
    border-style: none;
    background-color: rgba(0,0,0,0);
    color: white;
    text-align: right;
}
input:focus {
    border-style: none;
    background-color: rgba(0,0,0,0);
    outline: 0;
}
form i {
    font-size: 2em;
    height: 2em;
    color: white;
}
.title {
    position: absolute;
    top: 25%;
    padding: 0% 10%;
    margin: 0px;
    color: white;
    left: 0px;
}
.title h1 { font-size: 3em; }
.title hr { padding: 0px; margin: 0 }
.main-text {
    position: absolute;
    top: 45%;
    padding-left: 10%;
    width: 90%;
    font-size: 1.2em;
    text-align: left;
    left: 0px;
}
.main-text p {
    color: white;   
}
    

.menu-off {
    position: absolute;
    left: -300px;
    height: 100%;
    width: 300px;
    z-index: 1;
    background-color: #ecf0f1;
    padding: 0px 5%;
    text-align: justify;
}
.menu-off h2 { 
    background-color: #ecf0f1;
    margin: 15% 0%;
    margin-top: 20%;
    font-size: 2em;
}
.menu-off p { 
    font-size: 1.2em;
    background-color: #ecf0f1;
    padding: 5% 0%;
}
.menu-on {
    left: 0px;   
}
.header-menu-on, .section-menu-on {
    left: 300px;
}
.menu-on, .menu-off, header, .title, .main-text,
    .title-on, .main-text-on {
    -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all  0.3s ease;
}
.main-text-on {
    position: absolute;
    top: 45%;
    padding-left: 10%;
    width: 90%;
    left: 300px;
    font-size: 1.2em;
    text-align: justify;
    opacity: 0.6;
}
.title-on {
    position: absolute;
    top: 25%;
    padding: 0% 10%;
    margin: 0px;
    left: 300px;
    color: white;
    opacity: 0.6;
}
h1, h2 {overflow-y: hidden;}
.menu-off a {
    text-decoration: none;
    color: #7f8c8d;
}
.menu-off a:hover {
    text-decoration: none;
    color: #7f8c8d;
    opacity: 0.6;
}
}

/*Desktop*/
@media only screen and (min-width: 768px) {
header {
    margin: 0px; padding: 0px;
    position: absolute;
    width: 100%;
    left: 0px;
    top: 10%;
}

.menu-off {
    position: absolute;
    left: -500px;
    height: 100%;
    width: 500px;
    z-index: 1;
    background-color: #ecf0f1;
    padding: 0px 5%;
}
.menu-off h2 { 
    background-color: #ecf0f1;
    margin: 25% 0%;
    font-size: 3em;
}
.menu-off p { 
    font-size: 1.5em;
    background-color: #ecf0f1;
    margin: 25% 0%;
}
.menu-on {
    left: 0px;   
}
.header-menu-on, .section-menu-on {
    left: 500px;
}
.menu-on, .menu-off, header, .title, .main-text,
    .title-on, .main-text-on {
    -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all  0.3s ease;
}
nav {
    position: relative;
    color: white;
    font-size: 3em;
    margin-left: 10%;
    float: left;
    cursor: pointer;
}
form input {
    position: relative;
    margin-left: 45%;
    font-size: 2em;
    border-width: 0px;
    border-style: none;
    margin-top: 1%;
    width: 40%;
}
input[type=text] {
    padding-left: 1%;
    border-style: none;
    background-color: rgba(0,0,0,0);
    color: white;
    text-align: right;
}
input:focus {
    border-style: none;
    background-color: rgba(0,0,0,0);
    outline: 0;
}
form i {
    font-size: 2em;
    height: 2em;
    color: white;
    margin-left: 5px;
}
.title {
    position: absolute;
    top: 25%;
    padding: 0% 10%;
    margin: 0px;
    left: 0px;
    color: white;
    animation: text-fade;
    animation-duration: 3s;
}
.title-on {
    position: absolute;
    top: 25%;
    padding: 0% 10%;
    margin: 0px;
    left: 500px;
    color: white;
    opacity: 0.6;
}
.title h1 { font-size: 3em; }
.title hr { padding: 0px; margin: 0 }
.main-text {
    position: absolute;
    top: 45%;
    padding-left: 10%;
    width: 90%;
    left: 0%;
    font-size: 1.7em;
    text-align: justify;
    animation: text-fade;
    animation-duration: 5s;
}
.main-text-on {
    position: absolute;
    top: 45%;
    padding-left: 10%;
    width: 90%;
    left: 500px;
    font-size: 1.7em;
    text-align: justify;
    opacity: 0.6;
}
.main-text p {
    color: white;
}
    h1, h2 { overflow: hidden; }
.menu-off a {
    text-decoration: none;
    color: #7f8c8d;
}
.menu-off a:hover {
    text-decoration: none;
    color: #7f8c8d;
    opacity: 0.6;
}
    
}
