<!DOCTYPE html>
<html>
    <head>
        <title>Wikipedia Generator</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/wikigenIcon.png') }}">
    </head>
    
    <body class="container-fluid">
        <header>
            <nav>
                <div id="menu-hamburger"><i class="fa fa-bars"></i></div>
                <div class="site-menu">
                <img src="{{ url_for('static', filename='img/wikigenLogo.png') }}" class="img-responsive">
                <a href="{{ url_for('home') }}" class="site-menu">Main Page</a>
                <a href="" class="site-menu">Contents</a>
                <a href="" class="site-menu">About</a></div>
            </nav>
            
            <form method="post">
                <input type="text" name="generate" value="Generate" id="search-bar"
                       onfocus="if (this.value == 'Generate') {this.value=''}"
                       onblur="if (this.value == '') {this.value='Generate'}" >
                <a id="search-key" href=""><i class="fa fa-search"></i></a>
            </form>
        </header>
        <section>
            <div class="title">
                <h1>{{ topic }}</h1><hr>
            </div>
            <div class="main-text">
                <p>
                    {{ generated }}
                </p>
            </div>
        </section>
    
        <script src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/index.js') }}"></script>
        
    </body>
</html>
