<!DOCTYPE html>
<html>
    <head>
        <title>Wikipedia Generator</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/wikigenIcon.png') }}">
    </head>
    
    <body class="container-fluid">
        <div class="menu-off">
            <h2>Wiki-Gen</h2>
            <p>Wiki-Gen is a text generator that generates text based on a large database
            of parsed Wikipedia articles. Using the idea of Markov Chains, sentences are formed
            based on the probability of the following word occuring. Go ahead, give it a try!
            Enter a word to "Generate" some text.</p>
            <p>You can also follow our project on <a href="https://github.com/kevinzhe/wiki-gen">
                Github!</a></p>
        </div>
        <header>
            <nav>
                <div id="menu-hamburger"><i class="fa fa-bars"></i></div>
            </nav>
            
            <form action="/gen" method="GET">
                <input type="text" name="generate" placeholder='Generate' autocomplete="off">
                <button class='btn' type="submit"><i class="fa fa-search"></i></button>
            </form>
        </header>
        <section>
            <div class="title">
                <h1>{{ topic }}</h1><hr>
            </div>
            <div class="main-text">
                <p>
                    {{ generated }}
                </p>
            </div>
        </section>
    
        <script src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/index.js') }}"></script>
        
    </body>
</html>
