<!DOCTYPE html>
<html>
    <head>      
        <title>Wikigen - The Generated Encyclopedia</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/homepage.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/wikigenIcon.png') }}">
    </head>
    
    <body>
        <header>
            <span class="WN-header">W</span>IKIGE<span class="WN-header">N</span>
        </header>
        <section>
            <img src="{{ url_for('static', filename='img/wikigen-logo.svg') }}">
            <p>The generated encylopedia</p>
            <!--<p>Wikigen is a Wikipedia Generator, generating paragraphs of text using the concept of Markov Chains. Enter a term in the "Generate" bar to create a fabricated sentence (made from probability!)</p>-->
            <form action="/templates" method="post">
                <input type='text' name='generate' placeholder='Generate'>
                <button class='btn' type="submit">→</button>
            </form>
        </section>
    </body>
</html>
